<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin page</title>
    <style>
      @media (max-width:600px){
        .pass{
        /* border :2px solid gray; */
        margin-top: -11vh;  
        margin-bottom: 2vh;
        justify-self: center;
      }
      .child{
        font-size: 3vh;
      }

        
      }
      @media (min-width:601px){
        .box{
        
        display: flex;
        align-items: center;
        /* border:2px solid gray;  */
      }
      .logindiv{
        width: 150vh;
        height: 70vh;
        /* border: 2px solid gray; */
      
      }
      .pass{
        /* border :2px solid gray; */
        margin-top: -10vh;
        margin-bottom: 5vh;
        justify-self: center;
      }
      .child{
        font-size: 5vh;
      }

      }
    </style>
    <%- include('./partials/head.ejs') %>
</head>
<body style=" background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);">
    <%- include('./partials/nav.ejs') %>

    <div class="con mt-3">
      <% if (locals.error) { %>

          <div class="alert alert-danger" role="alert">
              <%= locals.error %>
           </div>
      <% } %>
   </div>



      <div class="container mt-4 box">
        
          <div class="container mt-4">
            <img src="/images/forgotpass.png" alt="signup" loading="lazy" class="img-thumbnail" style="width: 80vh;    background: linear-gradient(to left, #ffe4e1, #fffafa, #ffe4e1, #e0f7fa);">
          </div>

          <div class="logindiv">

            <form action="/user/forgotpassword" method="post" style=" margin-top: 13vh;">

                  <div class="pass">
                    <h3 class="child">Change your password</h3>
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label" style="font-weight: 500;">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label" style="font-weight: 500;"> New Password</label>
                    <input type="text" class="form-control" id="password" name="">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label" style="font-weight: 500;">Confirm New Password</label>
                    <input type="password" class="form-control" id="password" name="pass">
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>

            </form>
          </div>

      </div>

    <%- include('./partials/script.ejs') %>
</body>
</html>