<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin page</title>
    <style>
      .box{
        
        display: flex;
        align-items: center;
      }
      .logindiv{
        width: 150vh;
        height: 70vh;
      
      }
    </style>
    <%- include('./partials/head.ejs') %>
</head>
<body style="      background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);">
    <%- include('./partials/nav.ejs') %>

    <div class="con mt-3">
      <% if (locals.error) { %>

          <div class="alert alert-danger" role="alert">
              <%= locals.error %>
           </div>
      <% } %>
  </div>

      <div class="container mt-4 box">
        

        <div class="container mt-4">
          <img src="/images/forgotpass.png" alt="signup" class="img-thumbnail" style="width: 80vh;    background: linear-gradient(to left, #ffe4e1, #fffafa, #ffe4e1, #e0f7fa);">
        </div>
        <div class="logindiv">

          <!-- <div class="container mt-3">
            <img src="/images/log.png" alt="" style="width: 16vh;  display: flex;   justify-self: center;">
          </div> -->
        <form action="/user/forgotpassword" method="post" style=" margin-top: 13vh;">
            <div class="mb-3">
              <label for="email" class="form-label" style="font-weight: 500;">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label" style="font-weight: 500;"> New Password</label>
              <input type="text" class="form-control" id="password" name="">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label" style="font-weight: 500;">Confirm New Password</label>
              <input type="password" class="form-control" id="password" name="pass">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
        </div>

      </div>

    <%- include('./partials/script.ejs') %>
</body>
</html>