<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin page</title>
    <style>
      .box{
        
        display: flex;
        align-items: center;
      }
      .logindiv{
        width: 150vh;
        height: 70vh;
      
      }

      .iconbutton{
        cursor: pointer;
        display: flex;
        justify-self: end;
        margin-top: -5.5vh;
        margin-right: 5vh;

      }
    </style>
    <%- include('./partials/head.ejs') %>
</head>
<body style="      background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);">
    <%- include('./partials/nav.ejs') %>

    <div class="con mt-3">
      <% if (locals.error) { %>

          <div class="alert alert-danger" role="alert" style=" padding-top: 1vh; height: 7vh;">
              <%= locals.error %>
           </div>
      <% } %>
  </div>

      <div class="container mt-4 box">
        

        <div class="container mt-4">
          <img src="/images/logincheck.png" alt="signup" class="img-thumbnail"   loading="lazy" style="width: 80vh;    background: linear-gradient(to left, #ffe4e1, #fffafa, #ffe4e1, #e0f7fa);">
        </div>
        <div class="logindiv">
          <div class="container mt-3">
            <img src="/images/log.png" alt="" style="width: 16vh;    display: flex;   justify-self: center; margin-top: -9vh;" loading="lazy">
          </div>
          
          <div>
            
          </div>
        <form action="/user/signin" method="post" style=" margin-top: 13vh;">
          <h2 style="font-size: 5vh;   display: flex; justify-self: center; margin-top: -5vh; margin-bottom: 5vh;">Sign in to your account</h2>
            <div class="mb-3">
              <label for="email" class="form-label" style="font-weight: 500;">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
            </div>
            <div class="mb-3">
              <label for="passwor" class="form-label" style="font-weight: 500;">Password</label>
              <input type="password"  class="form-control" id="pass" class="passwordInput" name="password">
              <span class="iconbutton" id="icon" onclick="toggle()">🙈</span>
             
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>
          <div class="container mt-4" style=" display: flex; justify-content: end; ">

            <a href="/user/forgotpassword" style="text-decoration: none; color: blue; margin-top: -10vh; font-weight: 500;"> Forgot password</a>
      
          </div>
          <h6 style="padding-top: 1vh; color: #484e4f;">New to Blogify?  <span > <a href="/user/signup" style="text-decoration: none;">Create account </a></span></h6>
        </div>

      </div>
      <script>
  
  function toggle(){

      const pass = document.getElementById('pass');
      const icon = document.getElementById('icon');

      if(pass.type === "password"){
        pass.type = "text";
        icon.textContent = '👁️';
      }
      else{
        pass.type="password";
        icon.textContent = '🙈';
      }
      }







      </script>

    <%- include('./partials/script.ejs') %>
</body>
</html>