<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup page</title>
    <%- include('./partials/head.ejs') %>

    <style>
      .div{
        display: flex;
        align-items: center;
      
        
      }
      .img{
        margin-bottom: 10vh;
        margin-left: -20vh;
        margin-top: -7.5vh;
        width: 90vh;
      }
      .iconbutton{
        cursor: pointer;
        display: flex;
        justify-self: end;
        margin-top: -5.5vh;
        margin-right: 5vh;

      }
    </style>
</head>
<body style="background: linear-gradient(to left, #e6e6fa, #fffafa, #ffe4e1, #e0f7fa);" >
    <%- include('./partials/nav.ejs') %>

    <div class="container mt-2">

      <% if (locals.error) { %>

        <div class="alert alert-danger" role="alert" style=" padding-top: 1vh; height: 7vh;" >
          <%= locals.error %>
       </div>
       
      <% } %>

    </div>

    <div class="container mt-2 div">

    <div class="container ">
      <img src="/images/sign.png" alt="sign up" class="img">
    </div>

    <div class="container " style=" margin-left: 20vh; margin-right: -12vh; margin-top: -5vh;">

      <form action="/user/signup" method="post">
        <h2 style="font-size: 5vh;   display: flex; justify-self: center; margin-top: -5vh; margin-bottom: 7vh; position: relative;">Create your Blogify account</h2>
            <div class="mb-3">
                <label for="name" class="form-label" style="font-weight: 500;">Full Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" name="name">
              </div>
            <div class="mb-3">
              <label for="email" class="form-label" style="font-weight: 500;">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label" style="font-weight: 500;">Password</label>
              <input type="password" class="form-control" id="password" name="password">
              <span class="iconbutton" id="icon" onclick="toggle()">👁️</span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <h6 style="  padding-top: 6vh; color: #484e4f;">Already have an account?    <span > <a href="/user/signin" style="text-decoration: none;">Sign in</a></span></h6>
          </form>
    </div>

    </div>

    <script>

      function toggle(){

        const pass = document.getElementById('password');
        const icon = document.getElementById('icon');

        if(pass.type === "password"){
          pass.type = "text";
          icon.textContent = '🙈';
        }
        else{
          pass.type="password";
          icon.textContent = '👁️';
        }
      }



    </script>

    <%- include('./partials/script.ejs') %>
</body>
</html>